global
    maxconn 4096

defaults
    mode tcp
    timeout connect 10s
    timeout client 1m
    timeout server 1m

# CỔNG 5000 -> MASTER (Dùng để Ghi)
frontend master_front
    bind *:5000
    default_backend master_back

backend master_back
    # Port 1433 của máy thật
    server master_node host.docker.internal:1433 check

# CỔNG 5001 -> REPLICA (Dùng để Đọc)
frontend replica_front
    bind *:5001
    default_backend replica_back

backend replica_back
    balance roundrobin
    # Port 1434 mà ný vừa cấu hình cho SQL_REPLICA
    server replica_node_01 host.docker.internal:1434 check



